# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual Environment
venv/
ENV/
env/
.venv/

# macOS
.DS_Store

# PyTorch / Model Checkpoints & Large Files
*.pth
*.pt
*.onnx
*.bin
*.ckpt


# Output plots / generated images
*.png
*.jpg
*.jpeg

# Datasets & Generated Spectra
generated_spectra*/
generated spectra*/
*.npz
*.wdf
*.spc

# IDE & Editor Settings
.vscode/
.idea/
.gemini/
