numpy>=1.24.0
torch>=2.0.0
scipy>=1.10.0
astropy>=5.0
matplotlib>=3.7.0
seaborn>=0.12.0
scikit-image>=0.20.0
PyWavelets>=1.4.0
peakutils>=1.3.0
BaselineRemoval>=0.1.6
renishawWiRE>=0.1.16
-e ../raman plotting
